body{
    background-image: url('background1.jpg');
    background-size: cover; 
    height:480px; 
    padding-top:80px;
    min-height: 100vh;
    overflow: hidden
}

.header{
    color:#FDD2BF;
    text-align: center;
    font-weight: bold;
    font-family:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

}

.header > .Pic > img{
    border-radius:50%;
    vertical-align: middle;
  width: 95px;
  height: 95px;
    border: 5px solid #E8D0B3;
}
.header >h2{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal
}
.links > a{
    max-width: 60vw;
    background-color: rgba(255, 255, 255,0.2);
    font-family:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-align: center;
    display:block;
    font-weight: bold;
   
    padding: 10px 20px;
    color:#FFCCCC;
    border: 1px solid white;
    margin: 0 auto 22px auto;
    text-decoration: none;
}
.links > a:hover{
    background-color:#CAB8FF;
    color: black;
}